$def with (district_query,values,schools,klp_schools,block_query,cluster_query)

<html>
<head>
<script type="text/javascript" src="js/match.js"></script>


</head>
<body>
<form id="form1" name="form1" method="post" action="go">
<div align="left" style="height :100%; width :50%; float:left;">  
Select District : <select id="dist" name="dist" onchange="change_focus(this.value,'blk');">
		<option value="0">Select</option>
$for dist in district_query:
		<option value='$dist.id'>$dist.name.title()</option>
</select>
<br><br>

Select Block : <select id="blk" name="blk" onchange="change_focus(this.value,'clust');">
		<option value="0">Select</option>
</select>
<br><br>

Select Cluster : <select id="clust" name="clust" onchange="district_change();">
		<option value="0">Select</option>
</select>
<br><br>


Filter by School Name: <input type="text" onkeyup="filter(this.value);">   <button onclick="myfunction()">Match Found</button>
</div>
<div align="right" style="height: 100%; width: 50%; float:right;">
Select District : <select id="dist" name="dist" onchange="">
                <option value="0">Select</option>
$for dist in district_query:
        <option value='$dist.id'>$dist.name.title()</option>
</select>
<br><br>

Select Block : <select id="blk" name="blk" onchange="">
                <option value="0">Select</option>
</select>
<br><br>

Select Cluster : <select id="clust" name="clust" onchange="">
                <option value="0">Select</option>
</select>
<br><br>
</div>

<input type="hidden" id="sslc" name="sslc"/><input type="hidden" id="semis" name="semis"/>
<br><br>
<table align="left" width="50%" style="background-color:#000000" border="1" cellspacing="0" cellpadding="0">
<tr><td><h3><font color="white">Klp Database</font></td></h3></tr>
</table>

<table align="center" width="50%" style="background-color:#000000;" border="1" cellspacing="0" cellpadding="0">
<tr><td><h3><font color="white">Csv Data</font></h3></td></tr>
</table>

<div align="left" style="height: 100%; overflow: auto; width: 50%; float:left;">
<table id="ssdata" name="ssdata" align="left" width=100% style="font-size:12;" border="1" cellpadding="5" cellspacing="0">
<thead>
<tr><td>School_code</td><td>School_name</td></tr>
</thead>
<tbody> 
$for school in klp_schools:
	<tr onclick="clicks(this,1);"><td>$school.school_code</td><td>$school.school_name</td></tr>

</tbody>
</table>
</div>

<div align="right" style="height: 100%; width: 50%; float:right;">
<table id="sedata" name="sedata" align="right" width=100% style="font-size:12;" border="1" cellpadding="5" cellspacing="0">
<thead>
<tr><td>School_code</td><td>School_name</td></tr>
</thead>
<tbody>
$for school in schools:
	<tr onclick="clicks(this,2);"><td>$school[3]</td><td>$school[4]</td></tr>
</tbody>
</table>
</div>

</form>
</body>
</html>
