$def with (district_query,block_query,cluster_query,district,block,cluster)

<html>
<head>
<script type="text/javascript" src="/js/topframe.js"></script>
<script>
var block=[
$for row in block_query:
	['$row.parent_id','$row.id','$row.name'],
];

var cluster=[
$for row in cluster_query:
	['$row.parent_id','$row.id','$row.name'],
];


var cblk=[
$for row in block:
	['$row[0]','$row[1]'],
['0','0']];


var cclust=[
$for row in cluster:
	['$row[0]','$row[1]'],
['0','0']];

</script>
</head>
<body>
<form id="form1" name="form1" method="post" action="go">


<div align="left" style="height :70%; width :50%; float:left;">
District : <select id="dist" name="dist" onchange="change_focus(this.value,'blk',1);">
		<option value="0">Select</option>
$for dist in district_query:
                <option value='$dist.id'>$dist.name.title()</option>
</select>

Block : <select id="blk" name="blk" onchange="change_focus(this.value,'clust',1);">
		<option value="0">Select</option>
</select>

Cluster : <select id="clust" name="clust" onchange="callpage(this.value);">
		<option value="0">Select</option>

</select>


</div><div align="center" style="height :70%; width :50%; float:right;">
District : <select id="cdist" name="dist" onchange="change_focus(this.value,'cblk',2);">
                <option value="0">Select</option>
$for dist in district:
                <option value='$dist'>$dist</option>
</select>


Block : <select id="cblk" name="blk" onchange="change_focus(this.value,'cclust',2);">
                <option value="0">Select</option>
</select>


Cluster : <select id="cclust" name="clust" onchange="callpage(this.value);">
                <option value="0">Select</option>
</select>
</div>


</form>
</body>
</html>
