$def with (district,values,schools,klp_schools)

<html>
<head>
<script type="text/javascript" src="js/match.js">

</script>
</head>
<body>
<form id="form1" name="form1" method="post" action="go">
<left>Select District : <select id="dist" name="dist" onchange="district_change();">
		<option value="0">Select</option>
$for dist in district:
	$if dist[0]==values['dist'].strip():
		<option value="$dist[0]" selected="selected">$dist[1].title()</option>
	$else:
		<option value="$dist[0]">$dist[1].title()</option>
</select>
<br><br>
Filter by School Name: <input type="text" onkeyup="filter(this.value);">   <button onclick="myfunction()">Match Found</button>
</left>
<input type="hidden" id="sslc" name="sslc"/><input type="hidden" id="semis" name="semis"/>
<br><br>
<table align="left" width="50%" style="background-color:#000000" border="1" cellspacing="0" cellpadding="0">
<tr><td><h3><font color="white">Klp Database</font></td></h3></tr>
</table>

<table align="center" width="50%" style="background-color:#000000;" border="1" cellspacing="0" cellpadding="0">
<tr><td><h3><font color="white">Csv Data</font></h3></td></tr>
</table>

<div align="left" style="height: 100%; overflow: auto; width: 50%; float:left;">
<table id="ssdata" name="ssdata" align="left" width=100% style="font-size:12;" border="1" cellpadding="5" cellspacing="0">
<thead>
<tr><td>District</td><td>Block</td><td>Cluster</td><td>School_code</td><td>School_name</td></tr>
</thead>
<tbody> 
$for school in klp_schools:
	<tr onclick="clicks(this,1);"><td>$school.district</td><td>$school.block</td><td>$school.cluster</td><td>$school.school_code</td><td>$school.school_name</td></tr>

</tbody>
</table>
</div>

<div align="right" style="height: 100%; width: 50%; float:right;">
<table id="sedata" name="sedata" align="right" width=100% style="font-size:12;" border="1" cellpadding="5" cellspacing="0">
<thead>
<tr><td>District</td><td>Block</td><td>Cluster</td><td>School_code</td><td>School_name</td></tr>
</thead>
<tbody>
$for school in schools:
	<tr onclick="clicks(this,2);"><td>$school[0]</td><td>$school[1]</td><td>$school[2]</td><td>$school[3]</td><td>$school[4]</td></tr>
</tbody>
</table>
</div>

</form>
</body>
</html>
